# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# Top-most EditorConfig file
root = true

# Set default charset and end-of-line style
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript files
[*.js]
indent_size = 2

# Ignore .editorconfig for some files
# e.g., package.json, .min.js files, etc.
[package.json]
indent_style = unset
